configuration{
    modi: "run,drun,window,emoji";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "    Приложения ";
    display-run: "    Запуск ";
    display-window: " 󰕰   Окна ";
    display-emoji: " 󰞅   Эмодзи ";
    display-Network: " 󰤨   Интернет ";
    sidebar-mode: true;
}

@theme "~/.cache/wal/rofi_theme.rasi"