* {
    border-radius: 10px;
}

window {
    /* Font */
    font-size: 16px;
    font-family: 'Nunito';

    /* Options */
    background-color: #181825; /* rgba(26, 26, 26, 0.85) */
    color: #cdd6f4;
}

/* ---------------------------------- */
/* [-] ENTRY CONFIGURE [-] */
/* ---------------------------------- */

#entry:selected {
    background-color: #89b4fa;
}
#entry {
    padding: 8px;
    margin: 0;
    margin-left: 8px;
    margin-right: 8px;
}

/* ---------------------------------- */

#input {
    background-color: #313244;
    color: #cdd6f4;
    margin: 5px;
    padding: 5px;
}
