* {
    border-radius: 10px;
}

window {
    /* Font */
    font-size: 18px;
    font-family: 'Terminus (TTF)';

    /* Options */
    background-color: rgba(43, 43, 43, 0.95);
    color: white;
}

/* ---------------------------------- */
/* [-] ENTRY CONFIGURE [-]*/
/* ---------------------------------- */

#entry:selected {
    background-color: #b49c70;
}
#entry {
    padding: 8px;
}

/* ---------------------------------- */

#input {
    background-color: rgba(43, 43, 43, 0.5);
    color: #fff;
    margin: 5px;
    padding: 5px;
}