/* [-] Thunar [-] */
/* -------------- */
.thunar .view {
    background: #1e1e2e;
    color: #cdd6f4;
}

.thunar .standart-view .view {
    background: #6c7086;
    color: #cdd6f4;
}

.thunar .sidebar .view {
    background: #1e1e2e;
    color: #cdd6f4;
}

.thunar menubar {
    background: #1e1e2e;
    color: #cdd6f4;
}

.thunar toolbar, .thunar toolbar entry {
    background: #181825;
    color: #cdd6f4;
}

.thunar grid paned {
    background: #181825;
    color: #cdd6f4;
}
/* -------------- */